* {
   margin: 0px;
   padding: 0px;
}

html {
  height: 100%;
  box-sizing: border-box;
  background-color: blue;
}

header {
  padding-top: 25px;
}

.images { 
  display: flex;
  height: 100px;
  width: 200px;
  padding-top: 10px;
}

img {
  padding: 5px;
}

h1 {
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
}

h3 {
 color: #ffffff;
 background-color: red;
 padding: 25px;
}

p { 
 text-align: center;
 color: #ffffff;
 padding-top: 10px;
 padding-bottom: 10px;
}

.info {
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  margin: 10px;
}

ul {
 display: flex;
 justify-content: center;
 background-color: yellow;
 padding: 10px;
}

li {
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.checklist {
  display: flex;
  justify-content: center;
  border-left: 5px red solid;
  background-color: red;
  padding: 10px;
  margin-top: 25px;
}

.steps {
  color: #ffffff;
  padding-top: 5px;
}

.stats {
  color: #ffffff;
  font-weight: bolder;
}